.m-plus-1p-regular {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
  }
  
  .m-plus-1p-medium, h1 {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
  }
  
  .m-plus-1p-bold {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 1p";
}

.html {
    display: block;
}


.login-page, .registration-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 130px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin-top: 14px;
    width: 343px;
    height: 52px;
    border-radius: 12px;
    padding: 13px 16px;
    gap: 8px;
}
.submit {
    margin-top: 48px;
}

.register {
    margin-top: 48px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #767676;
    margin-top: 6px;
    font-size: 12px;
}

.back {
    margin-top: 24px;
}

.pwdnote {
    color: red;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    color: black;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}



.offscreen {
    position: absolute;
    left: -9999px;
    color: black;
}

.hide {
    display: none;
}

.valid {
    color: green;
}

.invalid {
    color: red
}

#confirmnote {
    font: Mplus 1p;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: red;
}